# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!terraform.tfvars.example
crash.log

# SSH keys
*.pem
*.key

# Kubeconfig
kubeconfig*
!kubeconfig.example

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
*.log
