name: AWS, Cloudflare and GitHub Provision

on:
  # push:
  #   branches: [main]
  workflow_dispatch:

concurrency:
  group: "platform" # one concurrent
  cancel-in-progress: false

jobs:
  hetzner:
    name: Hetzner Resources
    runs-on: ubuntu-latest
    outputs:
      kubernetes_host: ${{ steps.terraform.outputs.kubernetes_host }}
      kubernetes_token: ${{ steps.terraform.outputs.kubernetes_token }}
      kubernetes_certificate: ${{ steps.terraform.outputs.kubernetes_certificate }}
    env:
      HCLOUD_TOKEN: ${{ secrets.HETZNER_CLOUD_TOKEN }}
      TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
      TF_VAR_ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}

    defaults:
      run:
        working-directory: hetzner

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan

      - name: Capture Terraform Outputs
        id: terraform
        run: |
          echo "kubernetes_host=$(terraform output -raw kubernetes_host)" >> $GITHUB_OUTPUT
          echo "kubernetes_token=$(terraform output -raw kubernetes_token)" >> $GITHUB_OUTPUT
          echo "kubernetes_certificate=$(terraform output -raw kubernetes_certificate)" >> $GITHUB_OUTPUT

  addons:
    name: Kubernetes Addons
    runs-on: ubuntu-latest
    needs: hetzner
    env:
      TF_VAR_kubernetes_host: ${{ needs.hetzner.outputs.kubernetes_host }}
      TF_VAR_kubernetes_token: ${{ needs.hetzner.outputs.kubernetes_token }}
      TF_VAR_kubernetes_certificate: ${{ needs.hetzner.outputs.kubernetes_certificate }}
      
    defaults:
      run:
        working-directory: addons

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan


  cloudflare:
    name: Cloudflare Records
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      
    defaults:
      run:
        working-directory: cloudflare

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan


  github:
    name: GitHub Secrets
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
      GITHUB_OWNER: "thmb"
      
    defaults:
      run:
        working-directory: github

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan